@import "src/style/variables";
@import "src/style/mixins";

.movieCard {
  max-width: 323.41px;
  cursor: pointer;
  .movieCardDescription {
    display: flex;
    justify-content: space-between;
  }

  .movieCardImage {
    max-height: 510px;
  }

  .movieCardPoster {
    width: 323.41px;
    height: 486px;
    margin-bottom: 20px;
  }

  .movieCardTitle {
    @include font-family;
    font-size: 18px;
    line-height: 22px;
    color: $white;
    opacity: 0.7;
  }

  .movieCardRealiseDate {
    @include font-family;
    font-size: 14px;
    line-height: 17px;
    color: $white;
    border: 1px solid #979797;
    border-radius: 4px;
    opacity: 0.7;
    padding: 4px 8px 5px 8px;
  }

  .movieCardGenre {
    @include font-family;
    font-size: 14px;
    line-height: 17px;
    color: $white;
    opacity: 0.7;
    margin-top: 8px;
  }

  .movieCardCircle {
    border-radius: 50%;
    background: black;
    height: 36px;
    width: 36px;
    position: relative;
    bottom: 500px;
    left: 273px;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .movieCardCircleHidden {
    display: none;
  }

  .movieCardThreeDots {
    color: $white;
    font-size: 25px;
    background-size: cover;
  }
}

.movieCard:hover .movieCardCircle {
  display: flex;
}
