@import "src/style/variables";
@import "src/style/mixins";

.movieSort {
  .movieSortBy {
    @include font-family;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.888889px;
    text-transform: uppercase;
    color: $white;
    mix-blend-mode: normal;
    opacity: 0.6;
  }

  .movieSortRealiseDate {
    display: flex;
    align-items: flex-start;

    .movieSortIconCaret {
      color: $pink;
      position: relative;
      right: 16px;
    }
  }

  .movieSortSelect {
    @include font-family;
    font-size: 16px;
    width: 210px;
    letter-spacing: 0.888889px;
    text-transform: uppercase;
    color: $white;
    border: none;
    cursor: pointer;
    appearance: none;
    background: rgba(35, 35, 35, 1);
  }

  ul {
    display: flex;
    gap: 31px;
    list-style-type: none;
  }
}
