@import "src/style/variables";
@import "src/style/mixins";

.modal {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $mainBlack;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.07), 0 10px 20px rgba(0, 0, 0, 0.05), 0 10px 50px rgba(0, 0, 0, 0.05);
  padding: 50px;
  width: 754px;
  height: 840px;

  .modalCloseIcon {
    color: white;
    font-size: 37px;
    cursor: pointer;
  }

  .modalHeader {
    @include font-family;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
  }

  .modalInputsFields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }

  .modalContent {
    .modalContentLabel {
      @include font-family;
      letter-spacing: 0.888889px;
      text-transform: uppercase;
      color: $pink;
      mix-blend-mode: normal;
      opacity: 0.8;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 5px;
    }

    input {
      @include font-family;
      background: rgba(50, 50, 50, 0.948044);
      mix-blend-mode: normal;
      padding: 17px 0 16px 19px;
      border: none;
      border-radius: 4px;
      color: $white;
      font-size: 20px;
      line-height: 24px;
    }

    input::placeholder {
      @include font-family;
      font-size: 20px;
      line-height: 24px;
      color: $white;
      mix-blend-mode: normal;
      opacity: 0.3;
    }
  }

  .modalTitle {
    display: flex;
    flex-direction: column;

    input {
      padding: 17px 148px 16px 18px;
    }
  }

  .modalMovieUrl {
    display: flex;
    flex-direction: column;
  }

  .modalReleaseDate {
    display: flex;
    flex-direction: column;

    input {
      min-width: 301px;
    }

    input::-webkit-calendar-picker-indicator {
      color: $pink;
    }
  }

  .modalRating {
    display: flex;
    flex-direction: column;
  }

  .modalRuntime {
    display: flex;
    flex-direction: column;
  }

  .modalGenre {
    display: flex;
    flex-direction: column;
    height: 134px;
    gap: 6px;

    select {
      @include font-family;
      background: rgba(50, 50, 50, 0.948044);
      mix-blend-mode: normal;
      opacity: 0.8;
      border-radius: 4px;
      padding: 17px 0 16px 19px;
      color: $white;
      line-height: 24px;
      width: 100%;
    }

    .modalGenreIcon {
      color: $pink;
      font-size: 30px;
      position: relative;
      width: 50px;
      height: 30px;
      left: 347px;
      bottom: 47px;
      cursor: pointer;
      pointer-events: none;
    }
  }

  .modalGenreSelect {
    @include font-family;
    font-size: 16px;
    width: 196px;
    letter-spacing: 0.888889px;
    text-transform: uppercase;
    color: $white;
    border: none;
    cursor: pointer;
    appearance: none;
    background: rgba(35, 35, 35, 1) url("../../assets/images/arrow.png") no-repeat right;
  }

  .modalOverview {
    display: flex;
    flex-direction: column;

    textarea {
      background: rgba(50, 50, 50, 0.948044);
      mix-blend-mode: normal;
      border: none;
      border-radius: 4px;
      height: 177px;
      color: $white;
      font-size: 20px;
      line-height: 24px;
      padding: 10px;
    }

    .textareaErrorWarning {
      @include font-family;
      color: $pink;
      font-size: 14px;
      line-height: 17px;
      mix-blend-mode: normal;
      opacity: 0.8;
    }

    textarea::placeholder {
      @include font-family;
      font-size: 20px;
      line-height: 24px;
      color: $white;
      mix-blend-mode: normal;
      opacity: 0.3;
    }
  }

  .modalBtn {
    margin-top: 60px;
    display: flex;
    justify-content: end;
    gap: 13px;

    .modalBtnReset {
      @include font-family;
      padding: 17px 57px;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: $pink;
      border: 1px solid $pink;
      border-radius: 4px;
      background: $mainBlack;
      cursor: pointer;
    }

    .modalBtnSubmit {
      @include font-family;
      padding: 17px 47px;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      border: none;
      border-radius: 4px;
      background: $pink;
      cursor: pointer;
    }
  }
}

.modalShadow {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  cursor: auto;
}
